/* the desktop footer section having the currently playing */

.desktop-footer {
    width: 100%;
    height: 12vh;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #111;
    position: fixed;
    color: #fff;
    bottom: 0;
}

.desktop-footer1 {
    display: flex;
    align-items: center;
}

.playing-image {
    width: 100px;
    height: 100%;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.playing-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    padding-left: 5px;
}

.desktop-footer2 {
    display: block;
    width: 380px;
}

.controllers {
    display: inline-block;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.controllers a {
    margin-right: 5px;
}

.controllers img {
    width: 30px;
}

.progress-bar {
    height: 6px;
    border-radius: 5px;
    width: 350px;
    background-color: #808080;
}

.desktop-footer3 {
    display: inline-block;
}

.desktop-footer3 img {
    width: 20px;
    cursor: pointer;
}

.desktop-footer3 a {
    margin: 5px;
}


/* the library section containing the playlist and the liked songs */

.playlist-container {
    display: flex;
    height: 65px;
    align-items: center;
}

.playlist-image {
    cursor: pointer;
    background-color: #0000ff;
    width: 60px;
    height: 60px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.playing-icon {
    visibility: hidden;
    width: 20px;
    margin-left: auto;
    align-items: center;
}

#liked-image {
    cursor: pointer;
    background-image: url("../spotifyimages/first13.jpg");
    width: 60px;
    height: 60px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.playlist-name {
    cursor: pointer;
    display: inline-block;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 5px;
}


/* the toggled right section displaying all the songs in the playlist */

.last-section {
    width: 0;
    visibility: hidden;
    margin-left: 0;
    /* visibility: hidden;
    width: 25%;
    margin-left: 10px; */
    background-color: #201f1f;
    height: 85vh;
    border-radius: 8px;
    overflow-y: auto;
    margin-right: 10px;
}

.top-last-section {
    width: 100%;
    height: 40px;
    padding-right: 15px;
}

#back-image {
    position: fixed;
    width: 40px;
    padding-left: 10px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: url("../spotifyimages/backarrow.png");
    background-color: #3498db;
}

.starting-part {
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, #3498db, #8e44ad);
}

#playlist-search {
    padding: 20px;
}

#search-liked {
    background-image: url("../spotifyimages/searchicon.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0;
    color: #fff;
    background-color: #c0b0c7;
    width: 70%;
    border-radius: 5px;
    padding-left: 15px;
    height: 30px;
}

#search-button {
    color: #fff;
    background-color: #c0b0c7;
    border-radius: 5px;
    margin-left: 5px;
    width: 50px;
    cursor: pointer;
    height: 30px;
}

.playlist-description {
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
}

.playlist-nav-bar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px;
    width: 100%;
}

.play-shuffle {
    display: inline-block;
}

.download-playlist,
.play-shuffle img {
    cursor: pointer;
    margin-left: 5px;
    width: 30px;
}

.sort-playlist {
    padding-left: 5px;
}


/* the playlists songs in the last section */

.song-container {
    background-color: #808080;
    height: 60px;
    display: flex;
    align-items: center;
    width: 98%;
    margin-left: 0;
    margin-right: 0;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    color: #fff;
}

.song-image {
    height: 100%;
    width: 60px;
    background-color: #0000ff;
    border-radius: 4px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.song-description {
    align-items: center;
    justify-content: center;
}

.song-like-options {
    height: 60px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 15px;
}

.song-like-options img {
    width: 25px;
    align-items: center;
    margin-left: 5px;
}


/* the end of the starting first section */